/*!
Wagtail CRX (https://www.coderedcorp.com/cms/)
Copyright 2018-2022 CodeRed LLC
License: https://github.com/coderedcorp/coderedcms/blob/dev/LICENSE
*/


/* Font sizes and inputs */

code,
pre,
textarea.monospace,
.monospace textarea {
  font-family: var(--w-font-mono);
  font-weight: normal;
}

.input input[type='color']{
    height: 40px;
    padding: 5px;
}


/* Show the site's custom logo in the wagtail admin */

.codered-logo-custom {
    width:auto;
    height:auto;
    max-height:80px;
    max-width:100%;
    display: block;
}
.codered-logo-container {
  box-sizing: border-box;
  margin: 0 15px;
}
.codered-logo-container.navbar-light {
    background-color: #fff;
    border-radius: 6px;
    padding: 0.25em;
}
.codered-logo-container.navbar-dark {
    background-color: transparent;
}


/* Display the optional banner above main content */

.codered-banner {
    position: absolute;
    z-index: 1;
}
.codered-banner ~ .content-wrapper {
    padding-top: calc(1.5em + 8px);
}
