/*!
Wagtail CRX (https://www.coderedcorp.com/cms/)
Copyright 2018-2022 CodeRed LLC
License: https://github.com/coderedcorp/coderedcms/blob/dev/LICENSE
*/

/* Inputs and form fields */

.c-sf-button {
    max-width: 200px;
}

.input input,
.input select {
    max-width: 300px;
}
.input textarea,
.full .input input {
    width: 100%;
    max-width: 100%;
}
.input input[type='color']{
    height: 40px;
    padding: 5px;
}


/* Override and enhance the streamfield editor to support our deeply nested streamfields. */

.c-sf-block {
    display: block;
}

.c-sf-block:hover,
.c-sf-block:focus {
    box-shadow: 0 0 20px rgba(0,0,0,0.2) !important;
}

.c-sf-add-panel,
.c-sf-container {
    padding: 0 !important;
    width:100%;
    flex-basis: 100%;
}

.field.char_field.widget-draftail_rich_text_area .field-content,
.field.char_field.widget-textarea .field-content {
    width:100%;
    max-width:100%;
}

.sequence-controls {
    border: none;
    background-color: transparent;
    top: unset;
}
.sequence-controls h3 label {
    font-weight: bold;
}

.tab-content {
    width: 100%;
}

.object.stream-field {
    background-color: inherit;;
}

.object .multiple {
    width:100%;
    max-width:100%;
}

.object fieldset {
    width:100%;
    max-width:100%;
}
.object > fieldset {
    padding-top:6em;
}
.object > fieldset fieldset {
    padding-top:0;
}

.fields > li, .field-col {
    padding-bottom:0.5em;
}



/* Custom */

.codered-collapsible {
    padding:0;
}

.codered-collapsible .codered-collapsible-target {
    padding: 10px 0 0;
}

.codered-checkbox-group {
    margin-bottom: 1em;
}
.codered-checkbox-group ul {
    margin-top: 0.5em;
}
.codered-checkbox-group label {
    padding-bottom: 0.25em;
}
.codered-checkbox-group label input {
    margin-right: 0.25em;
}

.codered-callout {
    background-color: #f0f1f2;
    border-radius: 6px;
    display: inline-block;
    padding: 2em 3em;
    text-align: center;
}
.codered-callout .codered-big-icon {
    font-size: 10rem;
    color: rgba(0,0,0,0.1);
}
.codered-callout h3 {
    font-size: 1.2rem;
    font-weight: 600;
}
.codered-callout p {
    font-size: 1rem;
}
