/*!
Wagtail CRX (https://www.coderedcorp.com/cms/)
Copyright 2018-2023 CodeRed LLC
License: https://github.com/coderedcorp/coderedcms/blob/main/LICENSE
*/


/* Font sizes and inputs */

code,
pre,
textarea.monospace,
.monospace textarea {
  font-family: var(--w-font-mono);
  font-weight: normal;
  font-weight: 1rem;
}

.input input[type='color']{
  height: 40px;
  padding: 5px;
}


/* Show the site's custom logo in the wagtail admin */

.crx-logo-custom {
  width: auto;
  height: auto;
  max-height: 80px;
  max-width: 100%;
  display: block;
}
.crx-logo-container {
  box-sizing: border-box;
  margin: 0 15px;
}
.crx-logo-container.navbar-light {
  background-color: #fff;
  border-radius: 6px;
  padding: 0.25em;
}
.crx-logo-container.navbar-dark {
  background-color: transparent;
}


/* Display the optional banner above main content */

.crx-banner {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
}
.crx-banner ~ .content-wrapper {
    padding-top: calc(1.5em + 8px);
}


/* Streamfield editor */

.crx-collapsible {
  padding:0;
  margin: -16px 0 10px 0;
}
.crx-collapsible .crx-collapsible-target {
  padding: 10px 0 0;
}
.crx-collapsible > button {
  max-width: 140px;
}

.crx-checkbox-group {
  margin-bottom: 1em;
}
.crx-checkbox-group ul {
  margin-top: 0.5em;
}
.crx-checkbox-group label {
  padding-bottom: 0.25em;
}
.crx-checkbox-group label input {
  margin-right: 0.25em;
}

.crx-callout {
  background-color: var(--w-color-surface-header);
  border: 1px solid var(--w-color-border-furniture);
  border-radius: 6px;
  display: inline-block;
  padding: 2em 3em;
  text-align: center;
}
.crx-callout .crx-big-icon {
  font-size: 5rem;
  color: var(--w-color-text-label);
}
