{% extends "coderedcms/pages/base.html" %}
{% load static %}

{% block frontend_assets %}
{# Leave this section blank since we are pulling in Bootstrap/theme assets through Sass #}
{% endblock %}

{% block coderedcms_assets %}
{# Leave this section blank since we are pulling in coderedcms assets through Sass #}
{% endblock %}

{% block custom_assets %}
{# Add your custom CSS here #}
<link rel="stylesheet" type="text/css" href="{% static 'website/css/custom.css' %}">
{% endblock %}

{% block frontend_scripts %}
{# Load from our local copy of Bootstrap #}
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha256-CjSoeELFOcH0/uxWu6mC/Vlrc1AARqbm/jiiImDGV3s=" crossorigin="anonymous"></script>
{% endblock %}

{% block custom_scripts %}
{# Add your custom JavaScript here #}
<script type="text/javascript" src="{% static 'website/js/custom.js' %}"></script>
{% endblock %}
