{% extends "wagtailcrx/pages/base.html" %}
{% load static %}

{% block frontend_assets %}
{# Leave this section blank since we are pulling in Bootstrap/theme assets through Sass in custom.css #}
{% endblock %}

{% block wagtailcrx_assets %}
{# Leave this section blank since we are pulling in wagtailcrx assets through Sass in custom.css #}
{% endblock %}

{% block custom_assets %}
{# Add your custom CSS here #}
<link rel="stylesheet" type="text/css" href="{% static 'website/css/custom.css' %}">
{% endblock %}

{% block frontend_scripts %}
{# Load Bootstrap scripts distributed by wagtailcrx #}
<script src="{% static 'wagtailcrx/vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>
{% endblock %}

{% block custom_scripts %}
{# Add your custom JavaScript here, or delete the line below if you don't need any #}
<script type="text/javascript" src="{% static 'website/js/custom.js' %}"></script>
{% endblock %}
