[run]
branch = True
source = coderedcms

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
omit =
    */migrations/*
    */project_template/*
