# Randoms
*Thumbs.db
*.txz
*.tar.xz
*.tgz
*.tar.gz
*.sqlite3
*.sql

# Python
*.pyc
/build/
/docs/_build/
/dist/
__pycache__
*.egg-info/
pip-wheel-metadata/

# Environments
.env
.venv
env/
venv/
ENV/

# Editors
.vscode/
*~

# Development & testing
.coverage
htmlcov/
junit/
coverage.xml
testproject*/
.cache
.pytest_cache
testmedia*/
teststatic*/
media/
