# Python Django
# Test a Django project on multiple versions of Python.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/python

# NOTES:
#
# Display name of each step should be prefixed with one of the following:
#   CR-QC: for quality control measures.
#   CR-BUILD: for build-related tasks.
#   CR-DEPLOY: for publication or deployment.
#   [no prefix]: for unrelated CI setup/tooling.
#
# Use PowerShell Core for any utility scripts so they are re-usable across
# Windows, macOS, and Linux.
#


trigger:
  - master


stages:
- stage: Unit_Tests
  displayName: Unit Tests

  jobs:
  - job: pytest
    displayName: pytest
    pool:
      vmImage: 'ubuntu-latest'
    strategy:
      matrix:
        py3.5:
          PYTHON_VERSION: '3.5'
        py3.6:
          PYTHON_VERSION: '3.6'
        py3.7:
          PYTHON_VERSION: '3.7'

    steps:
    - task: UsePythonVersion@0
      displayName: 'Use Python version'
      inputs:
        versionSpec: '$(PYTHON_VERSION)'
        architecture: 'x64'

    - script: python -m pip install -e ./[ci]
      displayName: 'CR-QC: Install coderedcms from local repo'

    - script: coderedcms start testproject
      displayName: 'CR-QC: Create starter project from template'

    - pwsh: ./ci/run-tests.ps1
      displayName: 'CR-QC: Run unit tests'

    - task: PublishTestResults@2
      displayName: 'Publish unit test report'
      condition: succeededOrFailed()
      inputs:
        testResultsFiles: '**/test-*.xml'
        testRunTitle: 'Publish test results for Python $(python.version)'

    - task: PublishCodeCoverageResults@1
      displayName: 'Publish code coverage report'
      condition: succeededOrFailed()
      inputs:
        codeCoverageTool: Cobertura
        summaryFileLocation: '$(System.DefaultWorkingDirectory)/coverage.xml'


- stage: Static_Analysis
  displayName: Static Analysis
  dependsOn: Unit_Tests
  condition: succeeded('Unit_Tests')
  jobs:
  - job: flake8
    displayName: flake8
    pool:
      vmImage: 'ubuntu-latest'

    steps:
    - task: UsePythonVersion@0
      displayName: 'Use Python version'
      inputs:
        versionSpec: '3.7'
        architecture: 'x64'

    - script: python -m pip install -e ./[ci]
      displayName: 'CR-QC: Install coderedcms from local repo'

    - script: coderedcms start testproject
      displayName: 'CR-QC: Generate a test project'

    - pwsh: ./ci/run-flake8.ps1
      displayName: 'CR-QC: Static analysis (flake8)'

  - job: codecov
    displayName: Code Coverage
    pool:
      vmImage: 'ubuntu-latest'

    steps:
    - task: DownloadPipelineArtifact@2
      displayName: 'Download code coverage from current build'
      inputs:
        buildType: 'current'
        targetPath: '$(Agent.WorkFolder)/current-artifacts'
        project: '$(System.TeamProjectId)'
        pipeline: '$(System.DefinitionId)'

    - task: DownloadPipelineArtifact@2
      displayName: 'Download code coverage from latest master build'
      inputs:
        buildType: 'specific'
        targetPath: '$(Agent.WorkFolder)/previous-artifacts'
        project: '$(System.TeamProjectId)'
        pipeline: '$(System.DefinitionId)'
        buildVersionToDownload: 'latestFromBranch'
        branchName: 'refs/heads/master'

    - pwsh: ./ci/compare-artifacts.ps1 -wd $Env:WorkDir
      displayName: 'CR-QC: Compare code coverage'
      env:
        WorkDir: $(Agent.WorkFolder)

  - job: docs
    displayName: Documentation
    pool:
      vmImage: 'ubuntu-latest'

    steps:
    - task: UsePythonVersion@0
      displayName: 'Use Python version'
      inputs:
        versionSpec: '3.7'
        architecture: 'x64'

    - script: python -m pip install -e ./[ci]
      displayName: 'CR-QC: Install coderedcms from local repo'

    - pwsh: ./ci/make-docs.ps1
      displayName: 'CR-QC: Build documentation'
