[tool.black]
line-length = 100
target-version = ['py37']
include = '\.pyi?$'
exclude = '''

(
  /(
      \.eggs         # exclude a few common directories in the
    | \.git          # root of the project
    | \.hg
    | \.mypy_cache
    | \.tox
    | \.venv
    | _build
    | buck-out
    | build
    | dist
    | wagtailcrx/project_template
    | wagtailcrx/tests/settings.py
    | .*/migrations
    | \.github
    | ci
  )/
)
'''