{% extends "coderedcms/pages/web_page.html" %}

{% load wagtailadmin_tags wagtailcore_tags wagtailimages_tags coderedcms_tags %}

{% block description %}{{self.get_description}}{% endblock %}


{% if settings.coderedcms.SeoSettings.og_meta %}
    {% block og_description %}{{self.get_description}}{% endblock %}
    {% block og_image %}
        {% if self.cover_image %}
            {% image self.cover_image fill-2000x1000 as cover_image %}
            {{self.get_site.root_url}}{{cover_image.url}}
        {% else %}
            {{block.super}}
        {% endif %}
    {% endblock %}
{% endif %}

{% if settings.coderedcms.SeoSettings.twitter_meta %}
    {% block twitter_card %}{% if self.cover_image %}summary_large_image{% else %}{{block.super}}{% endif %}{% endblock %}
{% endif %}

{% block content_post_body %}
    {% block map %}
        <div class="container">
            {% include 'coderedcms/includes/iframe_gmap.html' with address=page.address %}
        </div>
    {% endblock %}

    {% block upcoming_dates %}
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3 style="display:inline-block;">Upcoming Dates</h3>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <tr>
                                <th>Starting Time</th>
                                <th>Ending Time</th>
                                <th>Actions</th>
                            </tr>
                            {% for date in self.upcoming_occurrences %}
                            <tr>
                                <td>{{date.0}}</td>
                                <td>{% if date.0 != date.1 %}{{date.1}}{% endif %}</td>
                                <td>{% include "coderedcms/includes/ical/single_ical_button.html" with event=self datetime_start=date.0|date:"c" datetime_end=date.1|date:"c" %}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block ical %}
        <div class="container">
            <div class="row">
                <div class="col">
                    {% include "coderedcms/includes/ical/recurring_ical_button.html" with event=self %}
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}

{% if settings.coderedcms.SeoSettings.struct_meta %}
    {% block struct_seo_extra %}
    <script type="application/ld+json">
        {% include "coderedcms/includes/struct_data_event.json" with page=self %}
    </script>
    {% endblock %}
{% endif %}
