{% extends "coderedcms/pages/web_page.html" %}
{% load wagtailcore_tags coderedcms_tags django_bootstrap5 %}
{% block content_body %}
{{ block.super }}
{% if page.form_live %}
<div class="container my-5">
  <form class="{{ page.form_css_class }}" id="{{ page.get_form_id }}" action="{% pageurl self %}" method="POST" {% if form|is_file_form %}enctype="multipart/form-data"{% endif %}>
    {% csrf_token %}
    {% bootstrap_form form layout="horizontal" %}
    <div class="row">
      <div class="{{'horizontal_label_class'|bootstrap_settings}}"></div>
      <div class="{{'horizontal_field_class'|bootstrap_settings}}">
        {% include "coderedcms/includes/form_button.html" %}
      </div>
    </div>
  </form>
</div>
{% endif %}
{% endblock %}
