{% extends "coderedcms/pages/web_page.html" %}
{% load wagtailcore_tags wagtailimages_tags coderedcms_tags %}

{% block content_body %}
<div class="container">
    <div class="row">
        {% if page.address %}
        <div class="card address-card text-center">
          <div class="card-body">
            {{ page.address|linebreaks }}
          </div>
        </div>
        {% endif %}
    </div>
    <div class="row mb-5">
        {% include_block page.body with settings=settings %}
    </div>
    {% block map %}
    <div class="row mb-5">
        {% if page.address %}
        <div class="embed-responsive embed-responsive-16by9 mb-5">
            <iframe class="embed-responsive-item" width="100%" style="border:0" src="https://maps.google.com/maps?q={{ page.address }}&output=embed" allowfullscreen></iframe>
        </div>
    {% endif %}
    </div>
    {% endblock %}
</div>
{% endblock %}