{% extends "coderedcms/pages/web_page.html" %}

{% load wagtailcore_tags static %}

{% block content %}
{% include_block page.body with settings=settings %}
<div class="container">
  <div class="row">
      {% block map_list %}
        <div class="col-md-4">
          <div class="list-group" id="LocationList">
              {% for item in geojson_data.features %}
              <div class='list-group-item flex column align-items'>
                <div class='d-flex w-100 justify-content-between'>
                  <a href="{{ item.properties.url }}"><h5 class='mb-1'>{{ item.properties.name }}</h5></a>
                </div>
                <p class='mb-1'>{{ item.properties.description }}</p>
              </div>
              {% endfor %}
          </div>
        </div>
      {% endblock %}
      {% block map %}
          <input id="pac-input" class="controls" type="text" placeholder="Search Box">
          <div class="col-md-8">
            <div class="map-container" 
            id="cr-map" 
            data-zoom="{{ page.zoom }}" 
            data-latitude="{{ page.center_latitude }}" 
            data-longitude="{{ page.center_longitude }}" 
            data-geojson-url="{{ request.path }}?data-format=geojson"
            data-key="{{ google_api_key }}"
            data-callback="initMap"
            data-libraries="places"
            data-show-list="True"
            data-show-search="True">
            </div>
          </div>
      {% endblock %}
  </div>
</div>
{% endblock %}

