/*Navbar */
.navbar .nav-link {
    font-family: 16px;
    text-transform: uppercase;
}

/* Custom CSS classes */
.cherry-links a {
    color: #f75990;
}

.text-cherry {
    color: #f75990;
}

.cherry-headers h1, 
.cherry-headers h2,
.cherry-headers h3,
.cherry-headers h4 {
    color: #f75990;
}

.border-cherry {
    border: 10px solid #f75990;
}

.bg-lightyellow {
    background-color: #fff685;
}

.bg-cherry {
    background-color: #f75990;
}