# Explicitly declare text files that should always be normalized and converted
# to unix line endings, to reduce cross-platform development issues.
*.py text eol=lf
*.html text eol=lf
*.js text eol=lf
*.css text eol=lf
*.json text eol=lf
*.md text eol=lf
*.rst text eol=lf
