{% extends 'coderedcms/blocks/base_block.html' %}

{% load wagtailcore_tags coderedcms_tags %}

{% block block_render %}

{% with a_id=self.accordion.id %}

<button class="btn {{self.button_size}} {{self.button_style}}" type="button" data-toggle="collapse" data-target="#accordion-{{a_id}}" aria-expanded="false" aria-controls="accordion-{{a_id}}">{{self.button_title}}</button>
<div id="accordion-{{a_id}}" class="collapse">{% include_block self.accordion.content %}</div>
{% endwith %}
{% endblock %}
