/// Hero units

.hero-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
}

.hero-bg {
  &.parallax {
    background-attachment: fixed;
  }

  &.tile {
    background-size: initial;
    background-repeat: repeat;
  }
}

.hero-fg {
  padding: 80px 0;
}
