{% load coderedcms_tags %}
{% django_setting "TIME_ZONE" as time_zone %}
<div
  data-block="calendar"
  data-default-date="{% now 'Y-m-d' %}"
  data-default-view="{{ page.fullcalendar_view }}"
  data-event-display="{{ page.fullcalendar_event_display }}"
  data-event-source-url="{% url 'event_get_calendar_events' %}"
  data-page-id="{{ page.id }}"
  data-timezone="{{ time_zone }}">
  <noscript>JavaScript is required to view the Calendar.</noscript>
</div>
<div class="text-end text-muted">
  <i>Listed in {{ time_zone }} time.</i>
</div>
