{% load wagtailcore_tags wagtailimages_tags %}

<div class="card mb-3 border-0 bg-transparent text-center {{self.settings.custom_css_class}}"
{% if self.settings.custom_id %}id="{{self.settings.custom_id}}"{% endif %}>
    {% if self.image %}
    {% image self.image fill-150x150 as card_img %}
    <img class="rounded-circle w-25 mx-auto" src="{{card_img.url}}" alt="{{card_img.title}}">
    {% endif %}
    <div class="card-body">
        {% if self.title %}<h5 class="card-title">{{self.title}}</h5>{% endif %}
        {% if self.subtitle %}<h6 class="card-subtitle mb-2 text-muted">{{self.subtitle}}</h6>{% endif %}
        <div class="card-text">{{self.description}}</div>
    </div>
    <div class="card-footer border-0 bg-transparent">
        {% for button in self.links %}
        {% include_block button %}
        {% endfor %}
    </div>
</div>
