{% extends "wagtailadmin/base.html" %}
{% load wagtailimages_tags wagtailsettings_tags %}


{% block branding_logo %}
    {% if settings.coderedcms.LayoutSettings.logo %}
        <div class="codered-logo-container {{settings.coderedcms.LayoutSettings.navbar_color_scheme}}">
            {% image settings.coderedcms.LayoutSettings.logo max-300x300 as logo_image %}
            <img src="{{ logo_image.url }}" class="codered-logo-custom" alt="Dashboard"/>
        </div>
    {% else %}
        {{block.super}}
    {% endif %}
{% endblock %}
