coderedcms=={{coderedcms_release.0}}.{{coderedcms_release.1}}.*

# django_sendmail_backend enables sending email from your web host server.
# Remove this if using a different email backend.
django_sendmail_backend

# To use with MariaDB or MySQL, uncomment the line below:
#mysqlclient
# To use with PostgreSQL, uncomment the line below:
#psycopg2
